<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewpoint" content="width=device-width, initial-scale=1"/>
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Bungee+Shade"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Bungee+Shade"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Bungee+Outline"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Caveat"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Alegreya"
        />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            crossorigin="anonymous"
        />

        <link rel='icon' href='./../static/icons/dreami.ico' />
	    <link as="script" rel="preload" href="https://qsbr.cf2.quoracdn.net/-4-ans_frontend-relay-27-9d4efaf3578d95ce.webpack">
	    <link as="script" rel="preload" href="https://qsbr.cf2.quoracdn.net/-4-ans_frontend-relay-vendor-27-b210c781a73d1fde.webpack">
	    <link as="script" rel="preload" href="https://qsbr.cf2.quoracdn.net/-4-ans_frontend-relay-common-27-6bfed1ca299d23b8.webpack">
	    <link as="script" rel="preload" href="https://qsbr.cf2.quoracdn.net/-4-ans_frontend-relay-page-QuestionPageLoadable-27-ec201e3633ba0206.webpack">
	    <link as="style" rel="preload" href="https://qsbr.cf2.quoracdn.net/-4-ans_frontend-relay-main.css-28-8bc172b790f24efd.webpack">
	    <link rel="stylesheet" type="text/css" href="https://qsbr.cf2.quoracdn.net/-4-ans_frontend-relay-main.css-28-8bc172b790f24efd.webpack" id="ans-frontend-main-css">
        <link rel="stylesheet" type="text/css" href="https://qsbr.cf2.quoracdn.net/-4-ans_frontend-relay-27-9d4efaf3578d95ce.webpack">
        <link rel="stylesheet" type="text/css" href="https://qsbr.cf2.quoracdn.net/-4-ans_frontend-relay-common-27-6bfed1ca299d23b8.webpack">
        <link rel="stylesheet" type="text/css" href="https://qsbr.cf2.quoracdn.net/-4-ans_frontend-relay-common-secondary-27-e16f75d92b5909d1.webpack">
        <link rel="stylesheet" type="text/css" href="https://qsbr.cf2.quoracdn.net/-4-ans_frontend-relay-component-CollapseAnswerSection-27-f8daa3e1fbcc672b.webpack">
        <link rel="stylesheet" type="text/css" href="https://qsbr.cf2.quoracdn.net/-4-ans_frontend-relay-component-Comments-27-20124e533dde8540.webpack">
        <link rel="stylesheet" type="text/css" href="https://qsbr.cf2.quoracdn.net/-4-ans_frontend-relay-component-CookieBanner-27-fd449d81ae6ca5c2.webpack">
        <link rel="stylesheet" type="text/css" href="https://qsbr.cf2.quoracdn.net/-4-ans_frontend-relay-component-DesktopMessagesDock-27-f66e0e37742bd436.webpack">
        <link rel="stylesheet" type="text/css" href="https://qsbr.cf2.quoracdn.net/-4-ans_frontend-relay-component-Hovercards-27-b45e30aa90ff16f7.webpack">
        <link rel="stylesheet" type="text/css" href="https://qsbr.cf2.quoracdn.net/-4-ans_frontend-relay-component-Modals-AskQuestion-27-78985f34aa5c399c.webpack">
        <link rel="stylesheet" type="text/css" href="https://qsbr.cf2.quoracdn.net/-4-ans_frontend-relay-component-Modals-EarningsPrograms-27-fa53dff1a4d56a5e.webpack">
        <link rel="stylesheet" type="text/css" href="https://qsbr.cf2.quoracdn.net/-4-ans_frontend-relay-component-Modals-Editor-27-82e0dbaf4366cd1c.webpack">
        <link rel="stylesheet" type="text/css" href="https://qsbr.cf2.quoracdn.net/-4-ans_frontend-relay-component-Modals-Editor-27-82e0dbaf4366cd1c.webpack">
        <link rel="stylesheet" type="text/css" href="https://qsbr.cf2.quoracdn.net/-4-ans_frontend-relay-component-Modals-post-27-94587b55362fb6b8.webpack">
        <link rel="stylesheet" type="text/css" href="https://qsbr.cf2.quoracdn.net/-4-ans_frontend-relay-component-Modals-subscriptions-27-b2b1ab5b55b3886e.webpack">
        <link rel="stylesheet" type="text/css" href="https://qsbr.cf2.quoracdn.net/-4-ans_frontend-relay-component-NUXRenderer-27-e7aa05a17a90031d.webpack">
        <link rel="stylesheet" type="text/css" href="https://qsbr.cf2.quoracdn.net/-4-ans_frontend-relay-component-Notifs-27-a0db566137d682da.webpack">
        <link rel="stylesheet" type="text/css" href="https://qsbr.cf2.quoracdn.net/-4-ans_frontend-relay-component-OverflowMenus-27-43a5423c3eda6404.webpack">
        <link rel="stylesheet" type="text/css" href="https://qsbr.cf2.quoracdn.net/-4-ans_frontend-relay-component-QTextEditor-27-765e49d4647198b9.webpack">
        <link rel="stylesheet" type="text/css" href="https://qsbr.cf2.quoracdn.net/-4-ans_frontend-relay-component-icons-lowpri-27-2778556a843d34fa.webpack">
        <link rel="stylesheet" type="text/css" href="https://qsbr.cf2.quoracdn.net/-4-ans_frontend-relay-component-icons-secondary-27-b8ac18e3be5ebcd7.webpack">
        <link rel="stylesheet" type="text/css" href="https://qsbr.cf2.quoracdn.net/-4-ans_frontend-relay-lib-broadcast-27-fde1753d02fbeace.webpack">
        <link rel="stylesheet" type="text/css" href="https://qsbr.cf2.quoracdn.net/-4-ans_frontend-relay-page-QuestionPageLoadable-27-ec201e3633ba0206.webpack">
        <link rel="stylesheet" type="text/css" href="https://qsbr.cf2.quoracdn.net/-4-ans_frontend-relay-query-CollapsedAnswersSectionLoadContentQuery-27-ee25ffc88c6352fd.webpack">
        <link rel="stylesheet" type="text/css" href="https://qsbr.cf2.quoracdn.net/-4-ans_frontend-relay-query-DesktopMessagesDockHeaderQuery-27-9d146bf85b4d6777.webpack">
        <link rel="stylesheet" type="text/css" href="https://qsbr.cf2.quoracdn.net/-4-ans_frontend-relay-query-DesktopMessagesDockLoaderQuery-27-40a67d41d9db5e77.webpack">
        <link rel="stylesheet" type="text/css" href="https://qsbr.cf2.quoracdn.net/-4-ans_frontend-relay-query-PageReloadableQuery-27-5e5975b5e65271f4.webpack">
        <link rel="stylesheet" type="text/css" href="https://qsbr.cf2.quoracdn.net/-4-ans_frontend-relay-query-QuestionAnswerPagedListQuery-27-44fa61d24db09644.webpack">
        <link rel="stylesheet" type="text/css" href="https://qsbr.cf2.quoracdn.net/-4-ans_frontend-relay-query-QuestionCollapsedAnswerLoaderQuery-27-af77392746f70da2.webpack">
        <link rel="stylesheet" type="text/css" href="https://qsbr.cf2.quoracdn.net/-4-ans_frontend-relay-query-ReloadableAnswerCommentButton_answerQuery.graphql-27-a14cff177982d1dd.webpack">
        <link rel="stylesheet" type="text/css" href="https://qsbr.cf2.quoracdn.net/-4-ans_frontend-relay-query-ReloadableAnswerUpvoteDownvoteButton_answerQuery.graphql-27-90b76af560b0eb35.webpack">
        <link rel="stylesheet" type="text/css" href="https://qsbr.cf2.quoracdn.net/-4-ans_frontend-relay-query-ReloadableDesktopMessagesDockHeader_viewerQuery.graphql-27-56a4ba2f6c9e230c.webpack">
        <link rel="stylesheet" type="text/css" href="https://qsbr.cf2.quoracdn.net/-4-ans_frontend-relay-query-ReloadableLoginListener_viewerQuery.graphql-27-dd118798f36d1832.webpack">
        <link rel="stylesheet" type="text/css" href="https://qsbr.cf2.quoracdn.net/-4-ans_frontend-relay-query-ReloadableNotifsNavItem_viewerQuery.graphql-27-aef358f8c839bcac.webpack">
        <link rel="stylesheet" type="text/css" href="https://qsbr.cf2.quoracdn.net/-4-ans_frontend-relay-query-ReloadableQuestionActionBar_questionQuery.graphql-27-390a690d5de4bce0.webpack">
        <link rel="stylesheet" type="text/css" href="https://qsbr.cf2.quoracdn.net/-4-ans_frontend-relay-query-ReloadableQuestionFollowButton_questionQuery.graphql-27-a8e596e5ceb4728c.webpack">
        <link rel="stylesheet" type="text/css" href="https://qsbr.cf2.quoracdn.net/-4-ans_frontend-relay-query-ReloadableSiloSwitcherNavItem_viewerQuery.graphql-27-0a07a23bae95e972.webpack">
        <link rel="stylesheet" type="text/css" href="https://qsbr.cf2.quoracdn.net/-4-ans_frontend-relay-query-ReloadableSiteNavBar_viewerQuery.graphql-27-14269c59956f1a74.webpack">
        <link rel="stylesheet" type="text/css" href="https://qsbr.cf2.quoracdn.net/-4-ans_frontend-relay-query-ReloadableUserCredentialsList_userQuery.graphql-27-8f493d3d9aebc6fd.webpack">
        <link rel="stylesheet" type="text/css" href="https://qsbr.cf2.quoracdn.net/-4-ans_frontend-relay-query-ReloadableUserFollow_userQuery.graphql-27-760821d2f9c5460a.webpack">
        <link rel="stylesheet" type="text/css" href="https://qsbr.cf2.quoracdn.net/-4-ans_frontend-relay-query-UserInfocardLoaderQuery-27-07e33d491acdc8a9.webpack">
        <link rel="stylesheet" type="text/css" href="https://qsbr.cf2.quoracdn.net/-4-ans_frontend-relay-vendor-27-b210c781a73d1fde.webpack">
        <link rel="stylesheet" type="text/css" href="https://qsbr.cf2.quoracdn.net/-4-ans_frontend-relay-main.css-28-8bc172b790f24efd.webpack">
        <link rel="stylesheet" type="text/css" href="./../static/css/home/home.css">

        <style>
            #navbar-bg {
                background-color: #180024;
            }
        </style>
        <title>{% block title %}Home{% endblock %}</title>
    </head>
    <body class="home-bg">
        <div style="zoom: 80%">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark; sticky-top" id="navbar-bg">
            <span class="login100-form-avatar">
						<img src="./../static/images/login/dreamiLogo.png" alt="Dreami" height="45" width="auto">
            </span>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbar"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbar" style="vertical-align: middle">
            <hr>
            <div class="navbar-nav" style="margin-left: auto">
                {% if user.is_authenticated %}
              <a class="nav-item nav-link" id="home" href="/" style="font-size: 19px">Home</a>
              <span style="font-size: 29px;">|</span>
              <a class="nav-item nav-link" id="mydreams" href="/mydreams" style="font-size: 19px">My Dreams</a>
              <span style="font-size: 29px;">|</span>
              <a class="nav-item nav-link" id="adddream" href="/adddream" style="font-size: 19px">Add Dream</a>
              <span style="font-size: 29px;">|</span>
              <a class="nav-item nav-link" id="profile" href="/profileview" style="font-size: 19px">Profile</a>
              <span style="font-size: 29px;">|</span>
              <a class="nav-item nav-link" id="logout" href="/logout" style="font-size: 19px">Logout</a>
                {% else %}
              <a class="nav-item nav-link" id="login" href="/login" style="font-size: 19px">Login</a>
              <span style="font-size: 29px;">|</span>
              <a class="nav-item nav-link" id="signUp" href="/sign-up" style="font-size: 19px">Sign Up</a>
                {% endif %}

            </div>
          </div>
        </nav>

         {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% else %}
    <div class="alert alert-success alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}
<!--    <div style="transform: scale(0.8)">-->
        <div class="container">
            {% block content %} {% endblock %}
        </div>
        <script
          src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
          integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
          crossorigin="anonymous"
        ></script>
        <script
          src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
          integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
          crossorigin="anonymous"
        ></script>
        <script
          src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
          integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
          crossorigin="anonymous"
        ></script>

        <script
          type="text/javascript"
          src="{{ url_for('static', filename='index.js') }}"
        ></script>
        <script
          type="text/javascript"
          src="{{ url_for('static', filename='form.js') }}"
        ></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script
          type="text/javascript"
          src="{{ url_for('static', filename='javascript/feed/feed_post.js') }}"
        ></script>
    </div>
    </body>
</html>