{% extends "base.html" %}
{% block title %}My Dreams{% endblock %}

{% block content %}
<br><br>
<div style="width: 120%; margin-left: -10%; align-content: center">
<h2 align="center" style="font-family: Caveat, cursive; color: #ffffff; font-size: 45px; text-shadow: rgb(0, 0, 0, 0.6) 2px 2px 2px;">{{ user.first_name }}'s Dreams</h2>
<br>
    <ul class="home-title">
  <li class="home-title-head"><h2 align="center" style="font-family: Ebrima; color:#ffffff; text-shadow: rgb(0, 0, 0, 0.6) 2px 2px 2px;"></h2></li>
  <li class="home-title-button"><button class="button-85" role="button" onclick="location.href = '/adddream';">+ Add Dream</button></li>
</ul>
<br>
<ul class="list-group list-group-flush" id="dreams">
<form method="POST">
    {% for dream in user.dreams %}
        {% set all_comments = comments.query.all() %}
        {% set all_votes = upvote.query.all() %}
        {% set all_users = user.query.all() %}

        <li class="list-group-item background-transp">
            {% with dreamer_name = user.first_name, dreamer_job = user.job_title, dream_date = dream.date,
             dream_content = dream.data, user_bg = dream.dreamer_background,
              wakeup_st = dream.wakeup_state, dreami_inter = dream.dreami_inter, dreamid = dream.id, dreamer_id=dream.user_id,
                all_comments=all_comments, all_votes = all_votes, all_users=all_users,
                helpfulness = dream.rating1, reflection = dream.rating2 %}
            {% include 'post.html' %}
            {% endwith %}

            <button type="button" class="close" onClick="deleteDream({{ dream.id }})">
                <span aria-hidden="true">
                    <img src="./../static/images/bin.png" alt="Submit" width="30" height="30"/>
                </span>
            </button>

        </li>
    {% endfor %}
</form>
</div>
</ul><br><br><br>
<br><br><br><br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
{% endblock %}
