
<div class="btn-group btn-group-toggle" style="transform: scale(0.9); zoom:80%">
  <label class="btn btn-secondary active" id="star1_0">
    <input type="radio" name="star1" id="star1" value="1" autocomplete="off" checked> 1
  </label>
  <label class="btn btn-secondary" id="star2_0">
    <input type="radio" name="star2" id="star2" value="2" autocomplete="off"> 2
  </label>
  <label class="btn btn-secondary" id="star3_0">
    <input type="radio" name="star3" id="star3" value="3" autocomplete="off"> 3
  </label>
  <label class="btn btn-secondary" id="star4_0">
    <input type="radio" name="star4" id="star4" value="4" autocomplete="off"> 4
  </label>
  <label class="btn btn-secondary" id="star5_0">
    <input type="radio" name="star5" id="star5" value="5" autocomplete="off"> 5
  </label>
  <div>
    <button type="submit" id="submit2" name="submit2" class="btn btn-primary" style="background-color:#9c5aed;" value={{ comment.id }}>Submit</button>
  </div>
  <div class="clear"></div>

</div>



<!--<div class="txt-center; ratings" align="center">-->
<!--        <div class="rating" >-->

<!--            <input id="star5" name="star5" type="radio" value="5" class="radio-btn hide" />-->
<!--            <label for="star5" style="font-size: xx-large">☆</label>-->
<!--            <input id="star4" name="star4" type="radio" value="4" class="radio-btn hide" />-->
<!--            <label for="star4" style="font-size: xx-large">☆</label>-->
<!--            <input id="star3" name="star3" type="radio" value="3" class="radio-btn hide" />-->
<!--            <label for="star3" style="font-size: xx-large">☆</label>-->
<!--            <input id="star2" name="star2" type="radio" value="2" class="radio-btn hide" />-->
<!--            <label for="star2" style="font-size: xx-large">☆</label>-->
<!--            <input id="star1" name="star1" type="radio" value="1" class="radio-btn hide" />-->
<!--            <label for="star1" style="font-size: xx-large">☆</label>-->
<!--            <div class="clear"></div>-->
<!--        </div>-->
<!--        <div>-->
<!--            <button id="submit2" name="submit2" class="btn btn-primary" style="background-color:#9c5aed;" value={{ comment.id }}>Submit</button>-->
<!--        </div>-->
<!--</div>-->